body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: url('earth-background.png') no-repeat center center/cover;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 40px 0;
}

h1 {
    margin: 0;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5em;
}

main {
    flex: 1;
    flex-grow: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
}

a{
    color: #007bff;
}

#date-selector, #image-display, #text {
    text-align: center;
    margin-bottom: 20px;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3列のグリッド */
    grid-gap: 1px; /* グリッド間の間隔 */
}

#container img {
    width: 100%; /* コンテナの幅に合わせる */
    height: auto; /* アスペクト比を保持 */
    display: block; /* ブロックレベル要素として表示 */
}
#text {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/* 日付表示部分のスタイリング */
#takedDate {
    font-weight: bold;
}

/* モーダルウィンドウ全体のスタイル */
.modal {
    display: none; /* 初期状態では非表示 */
    position: fixed; /* 画面に対して固定 */
    z-index: 1; /* 他の要素より前面に */
    left: 50%; /* 左端から画面の50%の位置に */
    top: 50%; /* 上端から画面の50%の位置に */
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.9); /* 半透明の黒色 */
    transform: translate(-50%, -50%); /* 位置を左上方向に調整 */
    padding: 20px;
    box-sizing: border-box;
    padding-top: 30px; /* 閉じるボタンのための上部余白を追加 */
}


/* 閉じるボタン */
.close {
    position: absolute;
    top: 10px; /* モーダルの上部に配置 */
    right: 15px; /* 右端から15pxの位置に */
    color: #fff; /* 白色のテキスト */
    font-size: 24px; /* フォントサイズ */
    font-weight: bold; /* 太字 */
    cursor: pointer; /* ホバー時のカーソル変更 */
}

/* モーダルウィンドウの画像 */
.modal-content {
    margin: auto;
    display: block;
    max-width: 98%; /* 最大幅を90%に設定 */
    max-height: 87vh; /* 最大高さをビューポートの80%に設定 */
}


/* 保存ボタンのスタイル */
#save-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#image-loader {
    width: 100%;
    height: auto;

}

/*@media (max-width: 600px) {
    #container {
        grid-template-columns: repeat(1, 1fr);
    }
}*/